body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.knn {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.square:hover {
  background-color: #eee;
}
.reset-btn:hover {
  background-color: #162eb8;
}
.reset-btn {
  background-color: #3908be;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
}
.square {
  background-color: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  height: 60px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 60px;
}

.square:focus {
  outline: none;
}

.square.X {
  color: #f00;
}

.square.O {
  color: #00f;
}

footer {
  position: fixed;
  top: 0;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: bold;
  
}